img {
    width: 100%;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "refoke-regular";

}

@font-face {
    font-family: "Morganite-Medium";
    src: url(/Fonts/Morganite-Medium.ttf);
}

@font-face {
    font-family: "Morganite-SemiBold";
    src: url(/Fonts/Morganite-SemiBold.ttf);
}

@font-face {
    font-family: "Morganite-Book";
    src: url(/Fonts/Morganite-Book.ttf);
}

@font-face {
    font-family: "Morganite-SemiBold";
    src: url(/Fonts/Morganite-SemiBold.ttf);
}

@font-face {
    font-family: "refoke-regular";
    src: url(/Fonts/refoke-regular.otf);
}

@font-face {
    font-family: "refoke-bold";
    src: url(/Fonts/refoke-bold.otf);
}

@font-face {
    font-family: "refoke-black";
    src: url(/Fonts/refoke-black.otf);
}

section {
    padding: 60px 0;
}

@media (min-width: 1400px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1420PX !important;
    }
}

@media (min-width: 1600px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1620PX !important;
    }
}

.scroll-progress-bar-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 6px;
    z-index: 9999;
}

.scroll-progress-bar {
    height: 100%;
    background: linear-gradient(to left, #c2c2f0, #d9b3ff, #ffb3b3, #ffdbb3);

    transition: width 0.2s ease;
    border-radius: 2px;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #c2c2f0, #d9b3ff, #ffb3b3, #ffdbb3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to bottom, #c2c2f0, #d9b3ff, #ffb3b3, #ffdbb3);
}

::-webkit-scrollbar-track {
    background: #d4ddff;
    background: transparent;
    border-radius: 10px;
}